In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

In [2]:
link = 'https://understat.com/team/Manchester_United/2023'
res = requests.get(link)
soup = BeautifulSoup(res.content, 'lxml')
scripts = soup.find_all('script')

- PPDA: passes allowed per defensive action in the opposition half
- OPPDA: opponent passes per defensive action in the opposition
- Deep completions (DC, "deep"): Passes completed within an estimated 20 yards of goal (crosses excluded)
- Opposition Deep completions (ODC, "deep_allowed"): Opponent passes completed within an estimated 20 yards of goal (crosses excluded)
- xGChain: Total xG of every possession the player is involved in
- xGBuildup: Total xG of every possession the player is involved in without key passes and shots

In [6]:
# Get the fixtures data
strings = scripts[1].string 
# Getting rid of unnecessary characters from json data
ind_start = strings.index("('")+2 
ind_end = strings.index("')") 
json_data = strings[ind_start:ind_end] 
json_data = json_data.encode('utf8').decode('unicode_escape')
data = json.loads(json_data)

In [7]:
df = pd.DataFrame(data)
df

,id,isResult,side,h,a,goals,xG,datetime,forecast,result
0,22284,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '229', 'title': 'Wolverhampton Wanderer...","{'h': '1', 'a': '0'}","{'h': '1.97087', 'a': '1.72228'}",2023-08-14 19:00:00,"{'w': 0.4422745733032807, 'd': 0.2147354449850...",w
1,22290,True,a,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '2', 'a': '0'}","{'h': '2.53904', 'a': '2.44604'}",2023-08-19 16:30:00,"{'w': 0.42433272490702917, 'd': 0.183691112050...",l
2,22300,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '249', 'title': 'Nottingham Forest', 's...","{'h': '3', 'a': '2'}","{'h': '3.02803', 'a': '0.960354'}",2023-08-26 14:00:00,"{'w': 0.7861422975271012, 'd': 0.1268349452406...",w
3,21934,True,a,"{'id': '83', 'title': 'Arsenal', 'short_title'...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '3', 'a': '1'}","{'h': '1.90973', 'a': '0.966109'}",2023-09-03 15:30:00,"{'w': 0.5944017219232832, 'd': 0.2193964758720...",l
4,21940,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '220', 'title': 'Brighton', 'short_titl...","{'h': '1', 'a': '3'}","{'h': '0.719951', 'a': '1.93908'}",2023-09-16 14:00:00,"{'w': 0.1303057489308153, 'd': 0.2076557441740...",l
5,21950,True,a,"{'id': '92', 'title': 'Burnley', 'short_title'...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '0', 'a': '1'}","{'h': '0.935444', 'a': '0.840273'}",2023-09-23 19:00:00,"{'w': 0.36061590075676137, 'd': 0.331045497834...",w
6,21957,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '78', 'title': 'Crystal Palace', 'short...","{'h': '0', 'a': '1'}","{'h': '1.55408', 'a': '1.19015'}",2023-09-30 14:00:00,"{'w': 0.4573520712885079, 'd': 0.2509218018618...",l
7,21972,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '244', 'title': 'Brentford', 'short_tit...","{'h': '2', 'a': '1'}","{'h': '1.29356', 'a': '1.02509'}",2023-10-07 14:00:00,"{'w': 0.4263291034410673, 'd': 0.2790826602140...",w
8,21983,True,a,"{'id': '238', 'title': 'Sheffield United', 'sh...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '1', 'a': '2'}","{'h': '1.41074', 'a': '1.46187'}",2023-10-21 19:00:00,"{'w': 0.3640284456654824, 'd': 0.2490176981847...",w
9,21992,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '88', 'title': 'Manchester City', 'shor...","{'h': '0', 'a': '3'}","{'h': '0.714628', 'a': '4.54595'}",2023-10-29 15:30:00,"{'w': 0.018327154309952964, 'd': 0.04185217309...",l
10,21998,True,a,"{'id': '228', 'title': 'Fulham', 'short_title'...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '0', 'a': '1'}","{'h': '1.18241', 'a': '0.697095'}",2023-11-04 12:30:00,"{'w': 0.47534898923873065, 'd': 0.306931803607...",w
11,22012,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '256', 'title': 'Luton', 'short_title':...","{'h': '1', 'a': '0'}","{'h': '2.74105', 'a': '0.408265'}",2023-11-11 15:00:00,"{'w': 0.8587900233270556, 'd': 0.1060860014345...",w
12,22017,True,a,"{'id': '72', 'title': 'Everton', 'short_title'...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '0', 'a': '3'}","{'h': '2.49764', 'a': '2.07334'}",2023-11-26 16:30:00,"{'w': 0.48187913422468454, 'd': 0.189246461526...",w
13,22032,True,a,"{'id': '86', 'title': 'Newcastle United', 'sho...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '1', 'a': '0'}","{'h': '2.90191', 'a': '0.422674'}",2023-12-02 20:00:00,"{'w': 0.8722645262210497, 'd': 0.0956570042729...",l
14,22044,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '80', 'title': 'Chelsea', 'short_title'...","{'h': '2', 'a': '1'}","{'h': '4.03949', 'a': '2.3512'}",2023-12-06 20:15:00,"{'w': 0.679830969140377, 'd': 0.13094313644292...",w
15,22051,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '73', 'title': 'Bournemouth', 'short_ti...","{'h': '0', 'a': '3'}","{'h': '1.11296', 'a': '1.9742'}",2023-12-09 15:00:00,"{'w': 0.21001130322746234, 'd': 0.216431040786...",l
16,22060,True,a,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '0', 'a': '0'}","{'h': '1.97111', 'a': '0.632715'}",2023-12-17 16:30:00,"{'w': 0.6909474552289822, 'd': 0.1993511400060...",d
17,22072,True,a,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '2', 'a': '0'}","{'h': '1.51468', 'a': '0.730496'}",2023-12-23 12:30:00,"{'w': 0.5603356125851056, 'd': 0.2597822988879...",l
18,22082,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '71', 'title': 'Aston Villa', 'short_ti...","{'h': '3', 'a': '2'}","{'h': '1.20104', 'a': '1.83637'}",2023-12-26 20:00:00,"{'w': 0.24894894436000325, 'd': 0.228506740962...",w
19,22091,True,a,"{'id': '249', 'title': 'Nottingham Forest', 's...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '2', 'a': '1'}","{'h': '0.744348', 'a': '0.651905'}",2023-12-30 17:30:00,"{'w': 0.3363128728691167, 'd': 0.3830120660077...",l
20,22099,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '2', 'a': '2'}","{'h': '0.923233', 'a': '1.31224'}",2024-01-14 16:30:00,"{'w': 0.2627017597338304, 'd': 0.2814444012302...",d
21,22111,True,a,"{'id': '229', 'title': 'Wolverhampton Wanderer...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '3', 'a': '4'}","{'h': '2.27609', 'a': '3.22698'}",2024-02-01 20:15:00,"{'w': 0.26469022266158654, 'd': 0.161867721550...",w
22,22122,True,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '81', 'title': 'West Ham', 'short_title...","{'h': '3', 'a': '0'}","{'h': '0.96721', 'a': '1.1807'}",2024-02-04 14:00:00,"{'w': 0.29919923043540153, 'd': 0.293276247240...",w
23,22125,True,a,"{'id': '71', 'title': 'Aston Villa', 'short_ti...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '1', 'a': '2'}","{'h': '2.64675', 'a': '2.44591'}",2024-02-11 16:30:00,"{'w': 0.44400335733512003, 'd': 0.181110718881...",w
24,22139,False,a,"{'id': '256', 'title': 'Luton', 'short_title':...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-02-18 16:30:00,NaN,NaN
25,22152,False,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '228', 'title': 'Fulham', 'short_title'...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-02-24 15:00:00,NaN,NaN
26,22160,False,a,"{'id': '88', 'title': 'Manchester City', 'shor...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-03-02 15:00:00,NaN,NaN
27,22172,False,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '72', 'title': 'Everton', 'short_title'...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-03-09 15:00:00,NaN,NaN
28,22182,False,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '238', 'title': 'Sheffield United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-03-16 15:00:00,NaN,NaN
29,22187,False,a,"{'id': '244', 'title': 'Brentford', 'short_tit...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-03-30 15:00:00,NaN,NaN
30,22201,False,a,"{'id': '80', 'title': 'Chelsea', 'short_title'...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-04-03 19:45:00,NaN,NaN
31,22211,False,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '87', 'title': 'Liverpool', 'short_titl...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-04-06 15:00:00,NaN,NaN
32,22215,False,a,"{'id': '73', 'title': 'Bournemouth', 'short_ti...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-04-13 15:00:00,NaN,NaN
33,22231,False,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '86', 'title': 'Newcastle United', 'sho...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-04-20 15:00:00,NaN,NaN
34,22239,False,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '92', 'title': 'Burnley', 'short_title'...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-04-27 15:00:00,NaN,NaN
35,22250,False,a,"{'id': '78', 'title': 'Crystal Palace', 'short...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-05-04 15:00:00,NaN,NaN
36,22259,False,h,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '83', 'title': 'Arsenal', 'short_title'...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-05-11 15:00:00,NaN,NaN
37,22267,False,a,"{'id': '220', 'title': 'Brighton', 'short_titl...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': None, 'a': None}","{'h': None, 'a': None}",2024-05-19 16:00:00,NaN,NaN

In [8]:
strings = scripts[3].string 
# Getting rid of unnecessary characters from json data
ind_start = strings.index("('")+2 
ind_end = strings.index("')") 
json_data = strings[ind_start:ind_end] 
json_data = json_data.encode('utf8').decode('unicode_escape')
data = json.loads(json_data)
df = pd.DataFrame(data)
df

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,5560,Scott McTominay,21,1189,7,5.814388437196612,1,0.8453832697123289,34,6,0,0,M S,Manchester United,7,5.814388437196612,6.166367074474692,1.7543726302683353
1,556,Marcus Rashford,23,1668,5,6.148773768916726,2,2.0889857672154903,50,17,2,0,F M S,Manchester United,4,5.387604931369424,9.911269405856729,3.099091675132513
2,10552,Alejandro Garnacho,22,1426,5,4.442363008856773,2,3.0970211140811443,52,27,4,0,M S,Manchester United,5,4.442363008856773,9.150730401277542,2.2601622194051743
3,11055,Rasmus Højlund,19,1415,5,6.380939658731222,2,1.0456052720546722,26,15,2,0,F S,Manchester United,5,6.380939658731222,7.041685163974762,1.5201112441718578
4,1228,Bruno Fernandes,23,2070,3,5.442168924026191,5,8.100289855152369,56,70,7,0,M,Manchester United,2,3.9198311595246196,13.199519656598568,7.296374291181564
5,553,Anthony Martial,13,430,1,1.0567390732467175,0,0.2762942183762789,6,6,0,0,F S,Manchester United,1,1.0567390732467175,1.701497795060277,0.41217057779431343
6,646,Christian Eriksen,15,840,1,0.4989581601694226,1,1.1619896097108722,9,14,1,0,M S,Manchester United,1,0.4989581601694226,3.4544950295239687,2.2168049346655607
7,2245,Raphael Varane,15,896,1,1.1560358591377735,0,0.08104487508535385,8,1,1,0,D S,Manchester United,1,1.1560358591377735,3.7224054038524628,2.8522792160511017
8,2248,Casemiro,11,912,1,2.267566442489624,1,0.7601589541882277,21,9,3,0,M,Manchester United,1,2.267566442489624,4.490596577525139,3.3439975306391716
9,6080,Victor Lindelöf,14,956,1,0.2017247062176466,1,0.19963323511183262,3,6,1,0,D S,Manchester United,1,0.2017247062176466,3.297116670757532,3.2372717298567295
10,7281,Diogo Dalot,22,1911,1,0.641437360085547,2,1.6052637957036495,18,22,4,1,D S,Manchester United,1,0.641437360085547,5.952472630888224,4.626752050593495
11,9558,Hannibal Mejbri,5,124,1,0.01660188101232052,0,0.2175336331129074,1,2,1,0,M S,Manchester United,1,0.01660188101232052,0.6164471115916967,0.3823116421699524
12,11174,Kobbie Mainoo,10,796,1,0.08735030144453049,0,0.49164633452892303,3,5,2,0,M,Manchester United,1,0.08735030144453049,2.326055109500885,1.8311269879341125
13,807,Jonny Evans,15,889,0,0.08175858855247498,1,0.5710146063938737,1,4,2,0,D S,Manchester United,0,0.08175858855247498,1.4532085843384266,1.438325259834528
14,1006,Luke Shaw,11,930,0,0.07127450406551361,0,0.954092476516962,2,13,5,0,D,Manchester United,0,0.07127450406551361,2.18767312169075,1.9797745142132044
15,1687,Harry Maguire,14,1012,0,0.459871893748641,2,1.1020660437643528,9,3,1,0,D S,Manchester United,0,0.459871893748641,2.777898659929633,2.6261416282504797
16,5584,Aaron Wan-Bissaka,12,884,0,0.07634101808071136,1,1.075422428548336,2,5,3,0,D S,Manchester United,0,0.07634101808071136,4.637457903474569,3.6547142416238785
17,6345,Jadon Sancho,3,68,0,0,0,0.12816749513149261,0,1,0,0,S,Manchester United,0,0,0.2712413966655731,0.1430738866329193
18,7187,Sergio Reguilón,9,402,0,0.21072756126523018,0,0.8145383335649967,4,8,3,0,D S,Manchester United,0,0.21072756126523018,2.156156972050667,1.63808111846447
19,7768,Mason Mount,8,401,0,0.17155428230762482,0,0.17198789585381746,3,5,1,0,M S,Manchester United,0,0.17155428230762482,2.4266472458839417,2.231110103428364
20,7927,Sofyan Amrabat,11,616,0,0.05763201601803303,0,0.15285523980855942,2,4,3,0,D M S,Manchester United,0,0.05763201601803303,1.5223709177225828,1.4140884969383478
21,8127,Amad Diallo Traore,1,35,0,0.052118439227342606,0,0.09952811896800995,1,1,0,0,S,Manchester United,0,0.052118439227342606,0.2730073630809784,0.12136080861091614
22,8821,Donny van de Beek,1,1,0,0.03228488191962242,0,0.06568886339664459,1,1,0,0,S,Manchester United,0,0.03228488191962242,0.09797374159097672,0
23,9324,Facundo Pellistri,9,144,0,0.37423551455140114,1,0.07077087461948395,4,1,0,0,M S,Manchester United,0,0.37423551455140114,1.411473162472248,0.9664667788892984
24,10802,Lisandro Martínez,8,572,0,0,1,0.047665963880717754,0,3,3,0,D S,Manchester United,0,0,2.0205386839807034,1.9838368855416775
25,10913,André Onana,24,2160,0,0,0,0.07622936367988586,0,2,4,0,GK,Manchester United,0,0,2.7603629641234875,2.6841336004436016
26,11094,Antony,19,944,0,1.5610622484236956,0,2.7178080938756466,26,16,3,0,M S,Manchester United,0,1.5610622484236956,7.850498467683792,4.741926740854979
27,11987,Daniel Gore,1,1,0,0,0,0,0,0,0,0,S,Manchester United,0,0,0,0
28,12275,Willy Kambwala,2,88,0,0,0,0,0,0,0,0,D S,Manchester United,0,0,0.07591637223958969,0.07591637223958969
29,12340,Omari Forson,1,1,0,0,1,0.03417201712727547,0,1,0,0,S,Manchester United,0,0,0.03417201712727547,0

In [13]:
strings = scripts[2].string 
# Getting rid of unnecessary characters from json data
ind_start = strings.index("('")+2 
ind_end = strings.index("')") 
json_data = strings[ind_start:ind_end] 
json_data = json_data.encode('utf8').decode('unicode_escape')
data = json.loads(json_data)
df_teams = pd.DataFrame(data.values())
df_teams

,OpenPlay,FromCorner,SetPiece,DirectFreekick,Penalty,4-2-3-1,4-1-4-1,4-1-2-1-2,3-4-1-2,3-1-4-2,...,shotSixYardBox,Normal,Standard,Slow,Fast,BlockedShot,SavedShot,MissedShots,Goal,ShotOnPost
0,"{'shots': 253, 'goals': 25, 'xG': 27.416148791...","{'shots': 63, 'goals': 4, 'xG': 4.489344078116...","{'shots': 12, 'goals': 2, 'xG': 2.468181014060...","{'shots': 11, 'goals': 0, 'xG': 0.646728191524...","{'shots': 3, 'goals': 2, 'xG': 2.2835065126419...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,"{'stat': '4-2-3-1', 'time': 2125, 'shots': 308...","{'stat': '4-1-4-1', 'time': 99, 'shots': 15, '...","{'stat': '4-1-2-1-2', 'time': 88, 'shots': 14,...","{'stat': '3-4-1-2', 'time': 8, 'shots': 5, 'go...","{'stat': '3-1-4-2', 'time': 8, 'shots': 0, 'go...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"{'stat': 'shotSixYardBox', 'shots': 27, 'goals...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"{'stat': 'Normal', 'shots': 204, 'goals': 22, ...","{'stat': 'Standard', 'shots': 89, 'goals': 8, ...","{'stat': 'Slow', 'shots': 31, 'goals': 2, 'xG'...","{'stat': 'Fast', 'shots': 18, 'goals': 1, 'xG'...",NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'shots': 113, 'goals': 0, 'xG': 8.40314749535...","{'shots': 75, 'goals': 0, 'xG': 9.794910278171...","{'shots': 118, 'goals': 0, 'xG': 9.91584632918...","{'shots': 33, 'goals': 33, 'xG': 9.03761351108...","{'shots': 3, 'goals': 0, 'xG': 0.1523909736424..."

In [11]:
df_teams.columns

Index(['OpenPlay', 'FromCorner', 'SetPiece', 'DirectFreekick', 'Penalty',
       '4-2-3-1', '4-1-4-1', '4-1-2-1-2', '3-4-1-2', '3-1-4-2', 'Goal diff 0',
       'Goal diff -1', 'Goal diff +1', 'Goal diff < -1', 'Goal diff > +1',
       '1-15', '16-30', '31-45', '46-60', '61-75', '76+', 'ownGoals',
       'shotOboxTotal', 'shotPenaltyArea', 'shotSixYardBox', 'Normal',
       'Standard', 'Slow', 'Fast', 'BlockedShot', 'SavedShot', 'MissedShots',
       'Goal', 'ShotOnPost'],
      dtype='object')

In [37]:
df_situation = pd.DataFrame(data['situation'])
df_situation

,OpenPlay,FromCorner,SetPiece,DirectFreekick,Penalty
shots,253,63,12,11,3
goals,25,4,2,0,2
xG,27.416149,4.489344,2.468181,0.646728,2.283507
against,"{'shots': 267, 'goals': 21, 'xG': 30.975337610...","{'shots': 79, 'goals': 6, 'xG': 9.085871648974...","{'shots': 20, 'goals': 2, 'xG': 1.762127383612...","{'shots': 9, 'goals': 1, 'xG': 0.5125943534076...","{'shots': 3, 'goals': 3, 'xG': 2.2835065126419..."

In [44]:
pd.DataFrame(df_situation.loc['against'])

                                                          against
OpenPlay        {'shots': 267, 'goals': 21, 'xG': 30.975337610...
FromCorner      {'shots': 79, 'goals': 6, 'xG': 9.085871648974...
SetPiece        {'shots': 20, 'goals': 2, 'xG': 1.762127383612...
DirectFreekick  {'shots': 9, 'goals': 1, 'xG': 0.5125943534076...
Penalty         {'shots': 3, 'goals': 3, 'xG': 2.2835065126419...

In [51]:
against_situation = pd.json_normalize(df_situation.loc['against'])
against_situation = against_situation.T
against_situation.columns = ['OpenPlay','FromCorner','SetPiece','DirectFreekick','Penalty']
against_situation

         OpenPlay  FromCorner   SetPiece  DirectFreekick   Penalty
shots  267.000000   79.000000  20.000000        9.000000  3.000000
goals   21.000000    6.000000   2.000000        1.000000  3.000000
xG      30.975338    9.085872   1.762127        0.512594  2.283507

In [28]:
df_formation = pd.DataFrame(data['formation'])
df_formation.columns = df_formation.iloc[0]
df_formation = df_formation[1:]
df_formation

stat,4-2-3-1,4-1-4-1,4-1-2-1-2,3-4-1-2,3-1-4-2
time,2125,99,88,8,8
shots,308,15,14,5,0
goals,29,1,1,2,0
xG,33.925526,1.970874,0.719951,0.687558,0
against,"{'shots': 345, 'goals': 30, 'xG': 40.894317197...","{'shots': 23, 'goals': 0, 'xG': 1.786041557788...","{'shots': 9, 'goals': 3, 'xG': 1.4339062627404...","{'shots': 0, 'goals': 0, 'xG': 0}","{'shots': 1, 'goals': 0, 'xG': 0.5051724910736..."

In [52]:
against_formation = pd.json_normalize(df_formation.loc['against'])
against_formation = against_formation.T
against_formation.columns = ['4-2-3-1','4-1-4-1','4-1-2-1-2','3-4-1-2','3-1-4-2']
against_formation

          4-2-3-1    4-1-4-1  4-1-2-1-2  3-4-1-2   3-1-4-2
shots  345.000000  23.000000   9.000000      0.0  1.000000
goals   30.000000   0.000000   3.000000      0.0  0.000000
xG      40.894317   1.786042   1.433906      0.0  0.505172

In [29]:
df_gameState = pd.DataFrame(data['gameState'])
df_gameState.columns = df_gameState.iloc[0]
df_gameState = df_gameState[1:]
df_gameState

stat,Goal diff 0,Goal diff -1,Goal diff +1,Goal diff < -1,Goal diff > +1
time,1214,408,381,181,144
shots,160,78,53,30,21
goals,20,4,4,3,2
xG,18.815628,5.333933,7.709431,2.311405,3.133512
against,"{'shots': 187, 'goals': 13, 'xG': 18.536351229...","{'shots': 48, 'goals': 8, 'xG': 9.198137843981...","{'shots': 87, 'goals': 7, 'xG': 9.24629317317158}","{'shots': 23, 'goals': 3, 'xG': 3.924505321308...","{'shots': 33, 'goals': 2, 'xG': 3.714149941690..."

In [54]:
against_gameState = pd.json_normalize(df_gameState.loc['against'])
against_gameState = against_gameState.T
against_gameState.columns = ['Goal diff 0','Goal diff -1','Goal diff +1','Goal diff <-1','Goal diff >+1']
against_gameState

       Goal diff 0  Goal diff -1  Goal diff +1  Goal diff <-1  Goal diff >+1
shots   187.000000     48.000000     87.000000      23.000000       33.00000
goals    13.000000      8.000000      7.000000       3.000000        2.00000
xG       18.536351      9.198138      9.246293       3.924505        3.71415

In [30]:
df_timing = pd.DataFrame(data['timing'])
df_timing.columns = df_timing.iloc[0]
df_timing = df_timing[1:]
df_timing

stat,1-15,16-30,31-45,46-60,61-75,76+
shots,60,38,53,62,57,72
goals,3,7,2,5,7,9
xG,5.497406,4.969889,4.585224,8.122862,7.633593,6.494935
against,"{'shots': 47, 'goals': 3, 'xG': 4.527488397434...","{'shots': 65, 'goals': 8, 'xG': 6.503053944557...","{'shots': 58, 'goals': 3, 'xG': 5.329313393682...","{'shots': 66, 'goals': 4, 'xG': 8.698183705098...","{'shots': 51, 'goals': 7, 'xG': 7.425332795828...","{'shots': 91, 'goals': 8, 'xG': 12.13606527261..."

In [55]:
against_timing = pd.json_normalize(df_timing.loc['against'])
against_timing = against_timing.T
against_timing.columns = ['1-15','16-30','31-45','46-60','61-75','76+']
against_timing

            1-15      16-30      31-45      46-60      61-75        76+
shots  47.000000  65.000000  58.000000  66.000000  51.000000  91.000000
goals   3.000000   8.000000   3.000000   4.000000   7.000000   8.000000
xG      4.527488   6.503054   5.329313   8.698184   7.425333  12.136065

In [31]:
df_shotZone = pd.DataFrame(data['shotZone'])
df_shotZone.columns = df_shotZone.iloc[0]
df_shotZone = df_shotZone[1:]
df_shotZone

stat,ownGoals,shotOboxTotal,shotPenaltyArea,shotSixYardBox
shots,0,117,198,27
goals,0,3,24,6
xG,0,4.131105,23.984363,9.18844
against,"{'shots': 1, 'goals': 1, 'xG': 1}","{'shots': 131, 'goals': 2, 'xG': 4.22295838035...","{'shots': 200, 'goals': 19, 'xG': 23.393500990...","{'shots': 46, 'goals': 11, 'xG': 16.0029781386..."

In [56]:
against_shotZone = pd.json_normalize(df_shotZone.loc['against'])
against_shotZone = against_shotZone.T
against_shotZone.columns = ['ownGoals','shotOboxTotal','shotPenaltyArea','shotSixYardBox']
against_shotZone

       ownGoals  shotOboxTotal  shotPenaltyArea  shotSixYardBox
shots       1.0     131.000000       200.000000       46.000000
goals       1.0       2.000000        19.000000       11.000000
xG          1.0       4.222958        23.393501       16.002978

In [32]:
df_attackSpeed = pd.DataFrame(data['attackSpeed'])
df_attackSpeed.columns = df_attackSpeed.iloc[0]
df_attackSpeed = df_attackSpeed[1:]
df_attackSpeed

stat,Normal,Standard,Slow,Fast
shots,204,89,31,18
goals,22,8,2,1
xG,21.168127,9.88776,4.0297,2.218321
against,"{'shots': 222, 'goals': 13, 'xG': 23.511378755...","{'shots': 111, 'goals': 12, 'xG': 13.644099898...","{'shots': 26, 'goals': 3, 'xG': 3.781864708289...","{'shots': 19, 'goals': 5, 'xG': 3.682094146497..."

In [57]:
against_attackSpeed = pd.json_normalize(df_attackSpeed.loc['against'])
against_attackSpeed = against_attackSpeed.T
against_attackSpeed.columns = ['Normal','Standard','Slow','Fast']
against_attackSpeed

           Normal  Standard       Slow       Fast
shots  222.000000  111.0000  26.000000  19.000000
goals   13.000000   12.0000   3.000000   5.000000
xG      23.511379   13.6441   3.781865   3.682094

In [35]:
df_result = pd.DataFrame(data['result'])
df_result

,BlockedShot,SavedShot,MissedShots,Goal,ShotOnPost
shots,113,75,118,33,3
goals,0,0,0,33,0
xG,8.403147,9.79491,9.915846,9.037614,0.152391
against,"{'shots': 118, 'goals': 0, 'xG': 7.46475858613...","{'shots': 86, 'goals': 0, 'xG': 11.35722130257...","{'shots': 132, 'goals': 0, 'xG': 10.3968664072...","{'shots': 33, 'goals': 33, 'xG': 13.2395727634...","{'shots': 9, 'goals': 0, 'xG': 2.1610184498131..."

In [58]:
against_result = pd.json_normalize(df_result.loc['against'])
against_result = against_result.T
against_result.columns = ['BlockedShot','SavedShot','MissedShots','Goal','ShotOnPost']
against_result

       BlockedShot  SavedShot  MissedShots       Goal  ShotOnPost
shots   118.000000  86.000000   132.000000  33.000000    9.000000
goals     0.000000   0.000000     0.000000  33.000000    0.000000
xG        7.464759  11.357221    10.396866  13.239573    2.161018

In [12]:
# Get the players stats 
strings = scripts[3].string 
# Getting rid of unnecessary characters from json data
ind_start = strings.index("('")+2 
ind_end = strings.index("')") 
json_data = strings[ind_start:ind_end] 
json_data = json_data.encode('utf8').decode('unicode_escape')
data = json.loads(json_data)
# Creating the dataframe
df = pd.DataFrame(data)
df

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,5560,Scott McTominay,21,1189,7,5.814388437196612,1,0.8453832697123289,34,6,0,0,M S,Manchester United,7,5.814388437196612,6.166367074474692,1.7543726302683353
1,556,Marcus Rashford,23,1668,5,6.148773768916726,2,2.0889857672154903,50,17,2,0,F M S,Manchester United,4,5.387604931369424,9.911269405856729,3.099091675132513
2,10552,Alejandro Garnacho,22,1426,5,4.442363008856773,2,3.0970211140811443,52,27,4,0,M S,Manchester United,5,4.442363008856773,9.150730401277542,2.2601622194051743
3,11055,Rasmus Højlund,19,1415,5,6.380939658731222,2,1.0456052720546722,26,15,2,0,F S,Manchester United,5,6.380939658731222,7.041685163974762,1.5201112441718578
4,1228,Bruno Fernandes,23,2070,3,5.442168924026191,5,8.100289855152369,56,70,7,0,M,Manchester United,2,3.9198311595246196,13.199519656598568,7.296374291181564
5,553,Anthony Martial,13,430,1,1.0567390732467175,0,0.2762942183762789,6,6,0,0,F S,Manchester United,1,1.0567390732467175,1.701497795060277,0.41217057779431343
6,646,Christian Eriksen,15,840,1,0.4989581601694226,1,1.1619896097108722,9,14,1,0,M S,Manchester United,1,0.4989581601694226,3.4544950295239687,2.2168049346655607
7,2245,Raphael Varane,15,896,1,1.1560358591377735,0,0.08104487508535385,8,1,1,0,D S,Manchester United,1,1.1560358591377735,3.7224054038524628,2.8522792160511017
8,2248,Casemiro,11,912,1,2.267566442489624,1,0.7601589541882277,21,9,3,0,M,Manchester United,1,2.267566442489624,4.490596577525139,3.3439975306391716
9,6080,Victor Lindelöf,14,956,1,0.2017247062176466,1,0.19963323511183262,3,6,1,0,D S,Manchester United,1,0.2017247062176466,3.297116670757532,3.2372717298567295
10,7281,Diogo Dalot,22,1911,1,0.641437360085547,2,1.6052637957036495,18,22,4,1,D S,Manchester United,1,0.641437360085547,5.952472630888224,4.626752050593495
11,9558,Hannibal Mejbri,5,124,1,0.01660188101232052,0,0.2175336331129074,1,2,1,0,M S,Manchester United,1,0.01660188101232052,0.6164471115916967,0.3823116421699524
12,11174,Kobbie Mainoo,10,796,1,0.08735030144453049,0,0.49164633452892303,3,5,2,0,M,Manchester United,1,0.08735030144453049,2.326055109500885,1.8311269879341125
13,807,Jonny Evans,15,889,0,0.08175858855247498,1,0.5710146063938737,1,4,2,0,D S,Manchester United,0,0.08175858855247498,1.4532085843384266,1.438325259834528
14,1006,Luke Shaw,11,930,0,0.07127450406551361,0,0.954092476516962,2,13,5,0,D,Manchester United,0,0.07127450406551361,2.18767312169075,1.9797745142132044
15,1687,Harry Maguire,14,1012,0,0.459871893748641,2,1.1020660437643528,9,3,1,0,D S,Manchester United,0,0.459871893748641,2.777898659929633,2.6261416282504797
16,5584,Aaron Wan-Bissaka,12,884,0,0.07634101808071136,1,1.075422428548336,2,5,3,0,D S,Manchester United,0,0.07634101808071136,4.637457903474569,3.6547142416238785
17,6345,Jadon Sancho,3,68,0,0,0,0.12816749513149261,0,1,0,0,S,Manchester United,0,0,0.2712413966655731,0.1430738866329193
18,7187,Sergio Reguilón,9,402,0,0.21072756126523018,0,0.8145383335649967,4,8,3,0,D S,Manchester United,0,0.21072756126523018,2.156156972050667,1.63808111846447
19,7768,Mason Mount,8,401,0,0.17155428230762482,0,0.17198789585381746,3,5,1,0,M S,Manchester United,0,0.17155428230762482,2.4266472458839417,2.231110103428364
20,7927,Sofyan Amrabat,11,616,0,0.05763201601803303,0,0.15285523980855942,2,4,3,0,D M S,Manchester United,0,0.05763201601803303,1.5223709177225828,1.4140884969383478
21,8127,Amad Diallo Traore,1,35,0,0.052118439227342606,0,0.09952811896800995,1,1,0,0,S,Manchester United,0,0.052118439227342606,0.2730073630809784,0.12136080861091614
22,8821,Donny van de Beek,1,1,0,0.03228488191962242,0,0.06568886339664459,1,1,0,0,S,Manchester United,0,0.03228488191962242,0.09797374159097672,0
23,9324,Facundo Pellistri,9,144,0,0.37423551455140114,1,0.07077087461948395,4,1,0,0,M S,Manchester United,0,0.37423551455140114,1.411473162472248,0.9664667788892984
24,10802,Lisandro Martínez,8,572,0,0,1,0.047665963880717754,0,3,3,0,D S,Manchester United,0,0,2.0205386839807034,1.9838368855416775
25,10913,André Onana,24,2160,0,0,0,0.07622936367988586,0,2,4,0,GK,Manchester United,0,0,2.7603629641234875,2.6841336004436016
26,11094,Antony,19,944,0,1.5610622484236956,0,2.7178080938756466,26,16,3,0,M S,Manchester United,0,1.5610622484236956,7.850498467683792,4.741926740854979
27,11987,Daniel Gore,1,1,0,0,0,0,0,0,0,0,S,Manchester United,0,0,0,0
28,12275,Willy Kambwala,2,88,0,0,0,0,0,0,0,0,D S,Manchester United,0,0,0.07591637223958969,0.07591637223958969
29,12340,Omari Forson,1,1,0,0,1,0.03417201712727547,0,1,0,0,S,Manchester United,0,0,0.03417201712727547,0